@tailwind base;
@tailwind components;
@tailwind utilities;

#map {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
#rider #map {
  top: 56px;
}
main {
  background: var(--tertiary-color);
  color: var(--secondary-color);
  padding: 2%;
  border-radius: 10px;
}
#switcher {
  width: 50px;
  height: 50px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}
.container {
  padding: 20px;
}
